<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DBL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1817D5C11F28A50800E19708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1817D5D51F28A50900E19708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1817D5E01F28A50900E19708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
